<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itreallyiskyler.furblr">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Furblr">
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"/>
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.itreallyiskyler.furblr.managers.AuthManagerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.itreallyiskyler.furblr.managers.ContentManagerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.itreallyiskyler.furblr.managers.DBManagerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.itreallyiskyler.furblr.managers.LoggingManagerInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="com.itreallyiskyler.furblr.managers.NetworkingManagerInitializer"
                android:value="androidx.startup" />
        </provider>
    </application>

</manifest>